@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@ViewBag.ErrorMessage</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<a asp-action="Index" asp-controller="Home">
    Click here to navigate to home page
</a>