@model CoksaProject.ViewModels.TasksEditViewModel

@{
    ViewBag.Title = "Edit Tasks";

}

<form enctype="multipart/form-data" asp-controller="Candidates"
      asp-action="EditTasks"method="post">
    <input hidden asp-for="TaskID"/>
    <input hidden asp-for="CandidateID"/>
    <input hidden asp-for="HoursID"/>
    <div class="form-group row">
        <div class="col-sm-10">
            <label
                asp-for="HoursCompleted" class="col-sm-2 col-form-label">
            </label>
            <input class="form-control" asp-for="HoursCompleted" min="0" max="4"/></div>
    </div>
    <span asp-validation-for="HoursCompleted" lass="text-danger"></span>
   
    <div>
        <button class="btn btn-info">Save</button>
        <a asp-controller="Candidates" asp-action="Index" 
        class="btn btn-info">Cancel</a>
    </div>

   

</form>




